{
  "presets": [
    "env",
    "react",
    "stage-1"
  ],
  "plugins": [
    "transform-decorators-legacy"
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-react-constant-elements",
        "transform-react-remove-prop-types"
      ]
    }
  }
}
