{
  "root": true,
  "extends": [
    "brainhub"
  ],
  "plugins": [
    "cypress"
  ],
  "env": {
    "jest": true,
    "browser": true,
    "cypress/globals": true
  },
  "settings": {
    "import/resolve": {
      "moduleDirectory": ["node_modules", "src"]
    }
  },
  "rules": {
    "no-invalid-this": 0,
    "react/no-deprecated": 0
  }
}
