{
  "root": true,
  "extends": [
    "brainhub"
  ],
  "settings": {
    "import/resolve": {
      "moduleDirectory": ["node_modules", "src"]
    }
  },
  "rules": {
    "no-invalid-this": 0,
    "react/no-deprecated": 0
  },
  "env": {
    "jest": true
  }
}
