{
  "root": true,
  "extends": [
    "brainhub",
    "prettier"
  ],
  "plugins": [
    "cypress",
    "prettier"
  ],
  "env": {
    "jest": true,
    "browser": true,
    "cypress/globals": true
  },
  "settings": {
    "import/resolve": {
      "moduleDirectory": ["node_modules", "src"]
    }
  },
  "rules": {
    "prettier/prettier": "error"
  }
}
