version: 2
jobs:
  test:
    docker:
      - image: circleci/node:10.18.1
    working_directory: ~/app
    steps:
      - checkout
      - run: yarn install --non-interactive
      - run: yarn lint
      - run: yarn test-unit

  publish_package:
    docker:
      - image: circleci/node:10.18.1
    steps:
      - checkout
      - run: yarn install --non-interactive
      - run: yarn build
      - run:
          name: npm publish
          command: |
            echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > .npmrc
            npm publish
      - run:
          name: publish gh pages
          command: ./tools/deploy-gh-pages.sh

workflows:
  version: 2
  test_and_deploy:
    jobs:
      - test
      - publish_package:
          requires:
            - test
          filters:
            branches:
              only:
                - master
