/* variables */
$dots-color: black;

.BrainhubCarousel {
  overflow: hidden;
  display: flex;
  align-items: center;
  .BrainhubCarousel__trackContainer {
    overflow: hidden;
    .BrainhubCarousel__track {
      display: flex;
      overflow: hidden;
      list-style: none;
      margin: 0;
      padding: 0;

      &.BrainhubCarousel__track--transition {
        transition: transform .5s ease-in-out;
      }
    }
  }
}

/* arrows */
.BrainhubCarousel__arrows {
  cursor: pointer;
}

/* dots */

.BrainhubCarousel__dots {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;

  button {
    outline: 0;
    padding: 10px;
    border: none;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }

    &:before {
      content: '';
      display: block;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      padding: 0;
      border: none;
      background: $dots-color;
    }
  }
}

.brainhub-carousel__dots {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;

  button {
    outline: 0;
    padding: 10px;
    border: none;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }

    &:before {
      content: '';
      display: block;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      padding: 0;
      border: none;
      background: $dots-color;
    }
  }
}

.brainhub-carousel__dots--selected {
  opacity: 1 !important;
}
