.carousel-item-container__type-a {
  width: 100px;
  height: 100px;
  background-color: #248032;
  color: white;
}

.carousel-item-container__type-b {
  width: 200px;
  height: 200px;
  background-color: #434680;
  color: white;
}
