$inactiveText: #cacaca;

$activeBackground: #2f2a40;
$hoverBackground: lighten(#2f2a40, 5%);
$activeText: #ffffff;
$hoverText: #ffffff;

.NavLink {
  display: block;
  position: relative;
  flex-grow: 1;
  border: none;
  color: $inactiveText;
  text-align: center;
  padding: 1em 0.5em;
  cursor: pointer;

  &:hover, &:focus {
    background: $hoverBackground;
    color: $hoverText;
  }

  &:link {
    text-decoration: none;
  }

  &.NavLink--active {
    background: $activeBackground;
    color: $activeText;
  }
}

