$sectionBg: #f7f7f8;
$textColor: #333;

@keyframes fade {
  from {transform: translateX(-100px); opacity: 0;}
  to {transform: translateX(0); opacity: 1;}
}

.Section {
  background-color: $sectionBg;
  color: $textColor;
  padding: 1rem 2rem;
  animation: fade 1s forwards;
  .Section__title {
    padding: 1em 0;
    font-weight: bold;
    font-size: 2em;
  }
  .Section__description {
    padding: 1em 0;
    font-size: 1.5em;
  }
  .Section__content {
    padding: 1em 0;
  }
  .Section__code {
    padding: 1em 0;
    display: flex;
    justify-content: center;
    pre {
      padding: 1em !important;
    }
  }
}
