/* Variables */

/* Styles */

body {
  margin: 0;
  font: 'Roboto', Arial, sans-serif;
  font-smoothing: antialiased;
}

// img-example
.img-example {
  max-height: 300px;
  max-width: 100%;
  padding: 0;
}

.img-example-small {
  max-height: 50px;
  max-width: 100%;
  padding: 0 5px;
  cursor: pointer;
}

.icon-example {
  cursor: pointer;
  padding: 1em;
}
